.articalcommentitem__div--commentcontainer {
  border-top: 1px solid #ccc;
  font-size: 15px;
  display: flex;
  padding: 1rem;
}

/* 评论头像 */
.articalcommentitem__div--commentcontainer>img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.articalcommentitem__div--user>a {
  font-weight: 500;
  font-size: 15px;
  color: #252933;
  display: inline-block;
}

.articalcommentitem__div--content {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

/* 最下方的小的点赞和喜欢 */
.articalcommentitem__div--likecommentflex {
  display: flex;
  align-items: center;
}

.articalcommentitem__div--likecommentflex>div:first-child {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.articalcommentitem__div--likecommentflex>div:hover {
  color: #0f9cfa;
  cursor: pointer;
}

.articalcommentitem__div--likecommentflex>div:hover>svg>path {
  fill: #0f9cfa;
}