.registerLogin__div--container {
  position: relative;
  background-color: #fff;
  z-index: 999;
}

.registerLogin__div--container>button {
  background: rgba(30, 128, 255, .05);
  border: 1px solid rgba(30, 128, 255, .3);
  border-radius: 4px;
  padding: 0.3rem 1rem;
  color: #007fff;
  line-height: 1.9rem;
  font-size: 14px;
  font-weight: 400;
  height: 3rem;
  overflow: hidden;
}

.registerLogin__div--container>button:hover {
  background-color: #c4e2ff;
}

/* 鼠标经过登录显示的div */
.registerLogin__div--loginmenu {
  position: absolute;
  top: 33px;
  right: -10px;
  padding-top: 18px;
  width: 30rem;
}

/* 下拉菜单的箭头 */
.registerLogin__div--arrow {
  position: absolute;
  top: 0;
  right: 79px;
}

.registerLogin__div--arrow {
  border: 10px solid transparent;
  border-bottom: 10px solid rgb(134, 207, 255);
}

/* 下拉菜单的实际内容 */
.registerLogin__div--loginNowContainer {
  padding: 1.5rem 2rem;
  background-color: #fff;
}

.registerLogin__div--loginNowContainer>h3 {
  margin: 0 0 1.5rem 0;
}

/* ulflex布局 */
.registerLogin__div--loginNowContainer>ul {
  display: flex;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.registerLogin__div--loginNowContainer>ul>li {
  width: 33.333%;
  padding: 1rem 0;
  font-size: 13px;
}

/* 最下面的登录 */
.registerLogin__div--loginNowflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerLogin__div--loginNowflex>button {
  margin-bottom: 1rem;
  padding: 0.5rem 10rem;
  background-color: #007fff;
  color: #fff;
  border: none;
  border-radius: 8px;
}