.headerMenuDown__div--container {
  float: left;
  display: none;
  position: relative;
  height: 100%;
  width: 5rem;
}

.headerMenuDown__div--container:hover {
  cursor: pointer;
}

/* 首页居中 */
.headerMenuDown__div--center {
  height: 100%;
  font-size: 16px;
  color: #1e80ff;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 首页右边的小箭头 */
.headerMenuDown__div--center>svg {
  transition: all .2s ease-in-out;
}

/* 小箭头活跃的样式 */
.headerMenuDown__svg--centerarrowactive {
  transform: rotate(-180deg);
  fill: #1e80ff
}

.headerMenuDown__path--centerarrowactive {
  fill: #1e80ff
}

/* 下方点击显示的菜单 */
.headerMenuDown__ul--absolute {
  display: none;
  position: absolute;
  top: 60px;
  right: -50px;
  background-color: #fff;
  width: 12rem;
  border: 1px solid #e0dede;
  border-radius: 8px;
}

/* 活跃时候的样式 */
.headerMenuDown__ul--display {
  display: block;
}

.headerMenuDown__ul--absolute>li {
  width: 100%;
}

/* a链接 */
.headerMenuDown__ul--absolute>li>a {
  font-size: 16px;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem 1rem 1rem 0rem;
}

.headerMenuDown__ul--absolute>li>a:hover {
  color: #007fff;
}