.individualcenter__div--container {
  position: absolute;
  width: 20rem;
  right: 0;
  top: 60px;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: -2px -2px rgba(215, 213, 213, 0.3);
  border-radius: 8px;
}

/* 退出登录的按钮 */
.individualcenter__div--logout {
  display: flex;
  justify-content: space-around;
}

/*  */
.individualcenter__div--container>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.individualcenter__div--container>ul>li {
  padding: 1rem 0;
  font-size: 14px;
  border-radius: 5px;
}

.individualcenter__div--container>ul>li:hover {
  background-color: #eeecec;
  cursor: pointer;
}

.individualcenter__div--logout>button {
  padding: 0.5rem 1rem;
  background-color: var(--juejin-brand-1-normal);
  border: none;
  border-radius: 8px;
  color: #fff;
}

.individualcenter__div--logout>button:hover {
  cursor: pointer;
}