.asideadvertisement__div--container {
  height: 120px;
  margin-bottom: 1.5rem;
}

.asideadvertisement__div--container>a {
  display: block;
  width: 100%;
  height: 100%;
}

.asideadvertisement__img {
  width: 100%;
  height: 120px;
}