.creatorhomedatacenter__div--container {
  background-color: #fff;
  border-radius: 8px;
}

/* 头部div */
.creatorhomedatacenter__div--container>div {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  border-bottom: 1px solid #edeaea;
}

.creatorhomedatacenter__div--container>div>span,
.creatorhomedatacenter__div--container>div>a {
  padding: 1.5rem;
}

/* 下方ul */
.creatorhomedatacenter__ul--flex {
  display: flex;
  flex-wrap: wrap;
}

.creatorhomedatacenter__ul--flex>li {
  width: 33.3%;
  font-size: 15px;
  padding: 1rem;
}

.creatorhomedatacenter__ul--flex>li>span {
  font-size: 30px;
  font-weight: 700;
}