.headermenu__ul--menubfc {
  float: left;
  font-size: 1.167rem;
  position: relative;
}

.headermenu__ul--menubfc>li {
  float: left;
}

.headermenu__li--bottomline {
  position: absolute;
  display: block;
  top: 58px;
  height: 2px;
  width: 2.334rem;
  margin: 0 1rem;
  border-bottom: 2px solid var(--juejin-brand-1-normal);
  z-index: 999;
}

.headermenu__ul__a--color {
  display: inline-block;
  padding: 0 1rem;
  height: 60px;
  line-height: 60px;
}

/* 下面都不属于HeaderMenu的样式 */