.header__li--creator {
  position: absolute;
  right: 0;
  top: 0;
  width: 11rem;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s linear;
}

.header__addgroup {
  position: relative;
  width: 115px;
  height: 3rem;
  display: flex;
}

.header__addgroup>button {
  padding: 0 1rem;
  height: 100%;
  border: none;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--juejin-brand-1-normal);
  margin-right: 1px;
}

/* 创作者中心鼠标经过的背景颜色 */
.header__addgroup--active {
  background-color: var(--juejin-brand-2-hover) !important;
}

/* 右侧箭头经过的时候的样式 */
.header__addgroup--rightactive {
  background-color: var(--juejin-brand-2-hover) !important;
}

.header__div--more {
  background-color: var(--juejin-brand-1-normal);
  width: 1.667rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* svg图加了下面的这个属性才会起效果 */
.header__div--more>svg>path {
  fill: #fcfcfc;
  stroke: #4075c9;
}