.creator__div--bgc {
  background-color: #F2F3F5;
}

.creator__div--container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  overflow: hidden;
}

.creator__div--view {
  display: flex;
  margin-top: 1.66rem;
}

.creator__div--maincontent--w {
  flex: 1;
}