/* header的最大的容器 */
.header__div--maxcontainer {
  display: flex;
  justify-content: center;
}

.header__header--container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1440px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  transition: all 0.25s linear;
}

.header__a--logo {
  /* display: inline-block; */
  float: left;
  line-height: 60px;
  height: 60px;
  vertical-align: bottom;
  padding: 19px 0 19px;
  margin-right: 12px;
  margin-left: 24px;
}

.header__a--logo>img {
  display: block;
  height: 22px;
  width: 107px;
}

.header__ul--rightcontentfloat {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 右边所有的li右浮动 */
.header__ul--rightcontentfloat>li {
  z-index: 999;
  /* float: right; */
  background-color: #fff;
  height: 60px;
  font-size: 1.1rem;
}