html {
  font-size: 12px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --juejin-background: #f2f3f5;
  --juejin-brand-1-normal: #1e80ff;
  --juejin-brand-2-hover: #1171ee;
  --juejin-brand-3-click: #0060dd;
  --juejin-font-1: #252933;
  --juejin-font-2: #515767;
  --juejin-font-3: #8a919f;
  --juejin-gray-1-2: rgba(228, 230, 235, 0.5);
  --juejin-gray-1-3: #e4e6eb;
  --juejin-gray-2: #f2f3f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div,
p,
header,
span,
a,
aside,
h3 {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #515767;
}