/* 会员的相关样式 */
.headerimgmembernotification__li--member {
  height: 100%;
  padding: 0 1rem;
}

.vip--title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vip--words {
  margin-left: 3px;
  color: #86909c;
}